; --- spawn guns at beginning saferoom
add:
{
	"classname" "weapon_spawn"
    "origin" "7040 1564 727"
    "spawnflags" "18"
    "solid" "6"
	"weapon_selection" "tier1_shotgun"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 90"
	"spawn_without_director" "1"
}
{
	"classname" "weapon_spawn"
    "origin" "7040 1536 727"
    "spawnflags" "18"
    "solid" "6"
	"weapon_selection" "tier1_SMG"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 90"
	"spawn_without_director" "1"
}
{
	"classname" "weapon_melee_spawn"
	"origin" "3862 1894 747"
	"angles" "0 252 90"
	"melee_weapon" "any"
	"spawn_without_director" "1"
	"solid" "0"
	"disableshadows" "1"
	"spawnflags" "3"
	"count" "1"
}
; --- more pill and ammo spawns
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "3353 1438 726"
	"angles" "0 55 0"
	"spawnflags" "0"
}
{
	"classname" "weapon_ammo_spawn"
    "origin" "3381 1433 726"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 314.5 0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "1478 4648 699"
	"angles" "0 52 0"
	"spawnflags" "0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-1883 3326 701"
	"angles" "0 52 0"
	"spawnflags" "0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-7078 2918 699"
	"angles" "0 52 0"
	"spawnflags" "0"
}
; --- change first aid kits spawns to pill spawns
modify:
{
	match:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	replace:
	{
		"classname" "weapon_pain_pills_spawn"
	}
}
; --- remove first aid kit spawns in saferoom
filter:
{
	"hammerid" "349360"
}
{
	"hammerid" "349358"
}
{
	"hammerid" "349356"
}
{
	"hammerid" "349354"
}
