; --- spawn guns at beginning saferoom
add:
{
	"classname" "weapon_spawn"
    "origin" "2985 -5731 782"
    "spawnflags" "18"
    "solid" "6"
	"weapon_selection" "tier1_shotgun"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 90"
	"spawn_without_director" "1"
}
{
	"classname" "weapon_spawn"
    "origin" "2985 -5760 782"
    "spawnflags" "18"
    "solid" "6"
	"weapon_selection" "tier1_SMG"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 90"
	"spawn_without_director" "1"
}
; --- change first aid kits spawns to pill spawns
modify:
{
	match:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	replace:
	{
		"classname" "weapon_pain_pills_spawn"
	}
}
; --- change gascan to someone will spawn
add:
{
	"classname" "prop_physics"
	"targetname" "zhuru"
	"origin" "1827 -2381.7 442.081"
	"angles" "0 180 0"
	"model" "models/props_junk/gnome.mdl"
	"spawnflags" "776"
	"solid" "6"
	"disableshadows" "1"
	"OnTakeDamage" "fuel_barricade,Kill,,21,-1"
	"OnTakeDamage" "zhurubaozha,Explode,,0,1"
	"OnTakeDamage" "zhuruboom,ToggleSound,,0,1"
	"OnTakeDamage" "huo_3,Stop,,21,-1"
	"OnTakeDamage" "huo_3,Start,,1,-1"
	"OnTakeDamage" "s_nav_4,UnblockNav,,21,-1"
	"OnTakeDamage" "zhuru,Kill,,0,-1"
}
{
	"classname" "env_explosion"
	"targetname" "zhurubaozha"
	"iMagnitude" "20"
	"fireballsprite" "sprites/zerogxplode.spr"
	"origin" "1833 -2390 451.348"
}
{
	"classname" "ambient_generic"
	"message" "weapons/hegrenade/explode3.wav"
	"targetname" "zhuruboom"
	"origin" "1793.62 -2381.99 562.325"
	"spawnflags" "48"
}
