add:
; --- add gun spawns in saferoom
{
	"classname" "weapon_spawn"
	"origin" "-995 699 1361"
	"angles" "0 37.5 90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "6"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-985 741 1361"
	"angles" "0 84.5 90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "6"
	"count" "5"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "-692 798 305"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 0"
}
modify:
; --- make saferoom door unbreakable until it was opened
{
	match:
	{
		"hammerid" "454147"
	}
	replace:
	{
		"spawnflags" "532480"
	}
	insert:
	{
		"OnOpen" "!self,SetBreakable,,0,-1"
	}
}
; --- remodify gascan event
{
	match:
	{
		"targetname" "scav_counter"
	}
	replace:
	{
		"max" "6"
	}
}
{
	match:
	{
		"targetname" "scav_progshower"
	}
	replace:
	{
		"Max" "6"
	}
}
filter:
{
	"hammerid" "660871"
}

modify:
{
	match:
	{
		"targetname" "prop_survival_mic"
	}
	delete:
	{
		"OnPressed" "pyrotechnics_sparks_1Stop691"
		"OnPressed" "pyrotechnics_sparks_1Start591"
		"OnPressed" "pyrotechnics_sparks_1Stop1351"
		"OnPressed" "pyrotechnics_sparks_1Start1251"
		"OnPressed" "invisible1Kill1451"
		"OnPressed" "stage_pyrotechnics_sound1PlaySound591"
		"OnPressed" "stage_pyrotechnics_sound1PlaySound1251"
		"OnPressed" "direcEndScript1151"
		"OnPressed" "proxy4ShowHint1451"
		"OnPressed" "nav_block2UnblockNav1451"
	}
	insert:
	{
		"OnPressed" "pyrotechnics_sparks_1,Stop,,29,1"
		"OnPressed" "pyrotechnics_sparks_1,Start,,39,1"
		"OnPressed" "pyrotechnics_sparks_1,Stop,,70,1"
		"OnPressed" "pyrotechnics_sparks_1,Start,,60,1"
		"OnPressed" "invisible1,Kill,,80,1"
		"OnPressed" "stage_pyrotechnics_sound1,PlaySound,,29,1"
		"OnPressed" "stage_pyrotechnics_sound1,PlaySound,,60,1"
		"OnPressed" "direc,EndScript,,50,1"
		"OnPressed" "proxy4,ShowHint,,80,1"
		"OnPressed" "nav_block2,UnblockNav,,80,1"
	}
}
