add:
; --- add gun spawns in saferoom
{
	"classname" "weapon_spawn"
	"origin" "-5561 -3647 422"
	"angles" "0 66.5 90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "6"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-5561 -3628 422"
	"angles" "0 66.5 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "6"
	"count" "5"
}
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "376 6582 384"
	"spawnflags" "0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 151.5 0"
	"origin" "376 6570 384"
	"spawnflags" "0"
}
filter:
{
	"hammerid" "493267"
}
{
	"classname" "weapon_first_aid_kit_spawn"
}
{
	"targetname" "bridge_tank"
}
modify:
{
	match:
	{
		"item4" "1"
	}
	replace:
	{
		"item4" "0"
	}
}
{
	match:
	{
		"item2" "1"
	}
	replace:
	{
		"item2" "0"
	}
}
