; --- add infected ladders around one way drop
add:
{
    "model" "*35"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "2735.50 1331.00 132.00"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*35"
    "normal.z" "0.00"
    "normal.y" "0.89"
    "normal.x" "0.45"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "641.53 -2476.06 -21.00"
    "angles" "0.00 63.00 0.00"
}
{
    "model" "*35"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "2736.50 1664.00 -6.00"
    "angles" "0.00 180.00 0.00"
}

filter:
{
	"origin" "881.85 -214.4 32"
}
{
	"targetname" "intro_relay"
}
{
	"origin" "881.85 -214.4 32"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "881.85 -214.4 32"
	"angles" "-90 335 0"
	"model" "models/props_debris/wood_board05a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
