filter:
{
	"targetname" "witch_spawner_vs"
}
{
	"targetname" "random_tank_vs"
}
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item2" "0"
	}
}
filter:
{
	"classname" "weapon_first_aid_kit_spawn"
}
modify:
{
	match:
	{
		"hammerid" "327"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
		"spawnflags" "6"
	}
}
{
	match:
	{
		"hammerid" "329"
	}
	replace:
	{
		"weapon_selection" "tier1_smg"
		"spawnflags" "6"
	}
}
{
	match:
	{
		"hammerid" "607512"
	}
	replace:
	{
		"item4" "0"
	}
}
{
	match:
	{
		"hammerid" "607520"
	}
	replace:
	{
		"item4" "0"
	}
}
add:
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "-6281 -10695 226"
	"spawnflags" "0"
}
filter:
{
	"hammerid" "571470"
}
{
	"hammerid" "571368"
}
{
	"hammerid" "571476"
}
{
	"hammerid" "583789"
}
{
	"hammerid" "607478"
}
{
	"hammerid" "607482"
}
{
	"hammerid" "607488"
}
{
	"hammerid" "608238"
}
{
	"hammerid" "608285"
}
{
	"hammerid" "608295"
}
{
	"hammerid" "608303"
}
{
	"hammerid" "634370"
}
; --- number of pill not delete
; --- 4(in a toilet at early map), 5(under indoor staris at living room)
; --- 6(at indoor 2nd floor left side bedroom), 7(toilet at early map)
; --- 8(in a tent at mid map), 10(in gunshop), 11(in gunshop)
; --- 12(in an office of subway), 13(in subwaycar)
; --- 16(after event before staris),20(generator room),last one(by ammo at subway station)
