add:
; --- added guns at start position
{
	"classname" "weapon_smg"
	"origin" "192 388 71"
	"angles" "0 299.5 90"
	"ammo" "650"
	"spawnflags" "1"
}
{
	"classname" "weapon_pumpshotgun"
	"origin" "212 361 71"
	"angles" "0 24.5 90"
	"ammo" "72"
	"spawnflags" "1"
}
; --- made sure both shotgun and uzi will spawn at the parking
modify:
{
	match:
	{
		"hammerid" "17258"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
{
	match:
	{
		"hammerid" "17248"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
; --- added an ammo stack by the truck next to the 3rd corner
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "3558 2418 176"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 45 0"
}
; --- ammo by the start of bridge
{
	"classname" "weapon_ammo_spawn"
	"origin" "3543 5207 181"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 88.5 0"
}
; --- pill spawn on hotel entrance counter
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "6016 3506 230"
	"spawnflags" "0"
}
; --- ammo stack in self-service restaurant
{
	"classname" "weapon_ammo_spawn"
	"origin" "6031 4096 216"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 59.5 0"
}
; --- ammo at which room idk
{
	"classname" "weapon_ammo_spawn"
	"origin" "5803 3714 352"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 53.5 0"
}
; --- ammo at 2nd floor restaurant
;{
;	"classname" "weapon_ammo_spawn"
;	"origin" "5824 4268 492"
;    "spawnflags" "2"
;    "solid" "6"
;    "model" "models/props/terror/ammo_stack.mdl"
;    "disableshadows" "1"
;    "count" "5"
;    "angles" "0 0.5 0"
;}
; --- pill spawn at base floor
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "6470 3895 83"
	"spawnflags" "0"
}
; --- ammo stack at base floor
{
	"classname" "weapon_ammo_spawn"
	"origin" "6745 4147 44"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 43 0"
}
; --- ammo by the alarm door
{
	"classname" "weapon_ammo_spawn"
	"origin" "5147 6014 180"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 88.5 0"
}
; --- remove some pill spawns
filter:
{
	"hammerid" "44617"
}
{
	"hammerid" "44646"
}
{
	"hammerid" "44648"
}
{
	"hammerid" "63098"
}
{
	"hammerid" "415163"
}
{
	"hammerid" "415197"
}
{
	"hammerid" "494321"
}
{
	"classname" "weapon_first_aid_kit_spawn"
}
; --- item1 0
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item1" "0"
		"item2" "0"
	}
}
; --- no need to trigger generator at base floor before strat 3rd elevator
;modify:
;{
;	match:
;	{
;		"targetname" "3rd_floor_svc_elevator_button"
;	}
;	replace:
;	{
;		"spawnflags" "1024"
;	}
;}

; --- Infected ladder near starting saferoom
add:
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-1982.00 6825.00 -29.00"
    "angles" "0.00 270.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-3093.00 6825.00 -1.00"
    "angles" "0.00 270.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "7619.00 -2845.00 -23.00"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "6413.00 -2838.00 -21.00"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "5417.95 -2875.00 534.52"
    "angles" "0.00 90.00 -7.00"
}


{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-166.00 -3649.00 -63.00"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-166.00 -3258.00 -63.00"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-166.00 -4253.00 -63.00"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "136.00 -2348.00 -21.00"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "586.00 8096.00 -27.00"
    "angles" "0.00 270.00 0.00"
}


; --- Infected ladders near the hotel
add:
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "10482.00 9893.00 270.00"
    "angles" "0.00 540.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "10482.00 9893.00 136.00"
    "angles" "0.00 540.00 0.00"
}
{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "10482.00 9893.00 -3.00"
    "angles" "0.00 540.00 0.00"
}


{
    "model" "*55"
    "normal.z" "0.00"
    "normal.y" "0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "792.00 -1529.00 -77.00"
    "angles" "0.00 0.00 0.00"
}
