modify:
{
	match:
	{
		"hammerid" "64293"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
add:
{
	"classname" "weapon_spawn"
	"origin" "-1082 -1861 15"
	"angles" "-72.5 270 90"
	"weapon_selection" "any_sniper_rifle"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "180 120 -356"
	"spawnflags" "0"
}
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "187 140 -356"
	"spawnflags" "0"
}
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "152 170 -356"
	"spawnflags" "0"
}
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "172 161 -356"
	"spawnflags" "0"
}
filter:
{
	"hammerid" "546751"
}
{
	"classname" "weapon_first_aid_kit_spawn"
}
{
	"targetname" "survival_items"
}
{
	"targetname" "break_ring_n"
}
;add:
;{
;	"classname" "trigger_once"
;	"model" "*47"
;	"origin" "-1065 -1033 64"
;	"angles" "0 46.5 0"
;	"filtername" "filter_survivor"
;	"spawnflags" "1"
;	"OnTrigger" "Opening_tank,SpawnZombie,,0,-1"
;}
;{
;	"classname" "info_zombie_spawn"
;	"targetname" "Opening_tank"
;	"origin" "-200 1419 161"
;	"angles" "0 0 0"
;	"population" "tank"
;	"offer_tank" "1"
;}
