filter:
; --- Remove all alert cars but 2 at underground parking
{
	"targetname" "InstanceAuto3-caralarm_car1"
}
{
	"targetname" "InstanceAuto9-caralarm_car1"
}
{
	"targetname" "InstanceAuto7-caralarm_car1"
}
{
	"targetname" "InstanceAuto6-caralarm_car1"
}
{
	"targetname" "InstanceAuto4-caralarm_car1"
}
{
	"targetname" "InstanceAuto2-caralarm_car1"
}
{
	"parentname" "InstanceAuto3-caralarm_car1"
	"model" "models/props_vehicles/cara_95sedan_glass_alarm.mdl"
}
{
	"parentname" "InstanceAuto9-caralarm_car1"
	"model" "models/props_vehicles/cara_95sedan_glass_alarm.mdl"
}
{
	"parentname" "InstanceAuto7-caralarm_car1"
	"model" "models/props_vehicles/cara_95sedan_glass_alarm.mdl"
}
{
	"parentname" "InstanceAuto6-caralarm_car1"
	"model" "models/props_vehicles/cara_95sedan_glass_alarm.mdl"
}
{
	"parentname" "InstanceAuto4-caralarm_car1"
	"model" "models/props_vehicles/cara_95sedan_glass_alarm.mdl"
}
{
	"parentname" "InstanceAuto2-caralarm_car1"
	"model" "models/props_vehicles/cara_95sedan_glass_alarm.mdl"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "-6743.83 3781.94 -3370.09"
	"angles" "-0 86 0"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6567.68 4186.94 -3370.09"
	"angles" "-0 -92.5 0"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6258.07 3873.19 -3370.09"
	"angles" "-0 94.5 0"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-5742.26 4186.91 -3370.09"
	"angles" "-0 -90 0"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-5449.35 3758.54 -3370.09"
	"angles" "-0 94.5 0"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-4903.48 4206 -3370.09"
	"angles" "-0 -90 0"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6743.83 3781.94 -3370.09"
	"angles" "-0 86 0"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6567.68 4186.94 -3370.09"
	"angles" "-0 -92.5 0"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6258.07 3873.19 -3370.09"
	"angles" "-0 94.5 0"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-5742.26 4186.91 -3370.09"
	"angles" "-0 -90 0"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-5449.35 3758.54 -3370.09"
	"angles" "-0 94.5 0"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-4903.48 4206 -3370.09"
	"angles" "-0 -90 0"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
filter:
; --- Remove 1 event tank
{
	"hammerid" "2979375"
}
