add:
;{
;	"classname" "prop_door_rotating"
;	"targetname" "irond3"
;	"model" "models/props/mcirondoor.mdl"
;	"opendir" "2"
;	"speed" "360"
;	"spawnflags" "559104"
;	"axis" "-7947 2492 80.25, -7947 2492 80.25"
;	"angles" "0 180 0"
;	"origin" "0 0 0"
;}
;{
;	"classname" "prop_door_rotating"
;	"targetname" "irond4"
;	"model" "models/props/mcirondoor.mdl"
;	"opendir" "2"
;	"speed" "360"
;	"spawnflags" "559104"
;	"axis" "-7947 2412 80.25, -7947 2412 80.25"
;	"angles" "0 0 0"
;	"origin" "10 0 0"
;}
;{
;	"classname" "func_button"
;	"model" "*27"
;	"glow" "irondb"
;;	"origin" "-7905 2510 92"
;	"wait" "1"
;	"speed" "0"
;	"spawnflags" "1056"
;	"OnPressed" "irond3,Open,,0.01,-1"
;	"OnPressed" "irond4,Open,,0.01,-1"
;	"OnPressed" "!self,Kill,,0,-1"
;	"OnPressed" "irondag,PlaySound,,0,-1"
;	"OnPressed" "irond3,Unlock,,0,-1"
;	"OnPressed" "irond4,Unlock,,0,-1"
;}
;{
;	"classname" "prop_dynamic"
;	"targetname" "irondb"
;	"model" "models/props/button.mdl"
;	"origin" "-7906 2510 92"
;	"angles" "0 0 0"
;	"solid" "6"
;}
;{
;	"classname" "ambient_generic"
;	"targetname" "irondag"
;	"message" "mcsounds/newsound/random/click.wav"
;	"origin" "-7876 2503 91"
;	"pitch" "50"
;	"spawnflags" "48"
;}
;filter:
;{
;	"targetname" "irond1"
;}
;{
;	"targetname" "irond2"
;}
;modify:
;{
;	match:
;	{
;		"targetname" "relay4"
;	}
;	delete:
;	{
;		"OnTrigger" "irond1Enable1-1"
;		"OnTrigger" "irond2Enable2-1"
;	}
;	insert:
;	{
;		"OnTrigger" "irond3,AddOutput,origin -7947 2492 80,1,-1"
;		"OnTrigger" "irond4,AddOutput,origin -7947 2412 80,2,-1"
;	}
;}
filter:
; --- pill spawn position
{
	"hammerid" "980896"
}
{
	"hammerid" "130792"
}
{
	"hammerid" "182254"
}
; --- remove speed down zone (trigger_playermovement)
;{
;	"hammerid" "415183"
;}
{
	"classname" "weapon_first_aid_kit_spawn"
}
modify:
{
	match:
	{
		"hammerid" "182258"
	}
	replace:
	{
		"item4" "1"
	}
}
add:
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "-7401 4230 40"
	"spawnflags" "0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "-8011 2589 80"
	"spawnflags" "0"
}
filter:
; --- Remove teleport button
{
	"classname" "func_button"
	"origin" "-9688 4672 10"
}
