modify:
;{
;	match:
;	{
;		"classname" "weapon_ammo_spawn"
;	}
;	replace:
;	{
;		"count" "5"
;		"spawnflags" "2"
;	}
;}
;{
;	match:
;	{
;		"classname" "weapon_shotgun_spas_spawn"
;	}
;	replace:
;	{
;		"count" "5"
;		"spawnflags" "2"
;	}
;}
;{
;	match:
;	{
;		"classname" "weapon_rifle_spawn"
;	}
;	replace:
;	{
;		"count" "5"
;		"spawnflags" "2"
;	}
;}
;{
;	match:
;	{
;		"classname" "weapon_rifle_ak47_spawn"
;	}
;	replace:
;	{
;		"count" "5"
;		"spawnflags" "2"
;	}
;}
;{
;	match:
;	{
;		"classname" "weapon_autoshotgun_spawn"
;	}
;	replace:
;	{
;		"count" "5"
;		"spawnflags" "2"
;	}
;}
{
	match:
	{
		"targetname" "case2"
	}
	delete:
	{
		"OnCase02" "relay2Trigger0-1"
	}
	insert:
	{
		"OnCase02" "relay1,Trigger,,0,-1"
	}
}
{
	match:
	{
		"targetname" "weapontrigger_1"
	}
	delete:
	{
		"OnCase02" "weapons_2ForceSpawn0-1"
	}
	insert:
	{
		"OnCase02" "weapons_1ForceSpawn0-1"
	}
}
{
	match:
	{
		"targetname" "director"
	}
	delete:
	{
		"OnGameplayStart" "weapontrigger_1PickRandom0-1"
		"OnGameplayStart" "case2PickRandom0-1"
	}
}
add:
{
	"classname" "logic_auto"
	"OnMultiNewRound" "case2PickRandom0-1"
	"OnMultiNewRound" "weapontrigger_1PickRandom0-1"
}
