;----- Versus Relay
modify:
{
	match:
	{
		"classname" "info_gamemode"
	}
	insert:
	{
		"OnVersusPostIO" "versus_relayTrigger0-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "3350290"
	}
	delete:
	{
		"OnDamaged" "directorForcePanicEvent0-1"
	}
}
add:
{
	"origin" "5924 9036 1752"
	"targetname" "versus_relay"
	"spawnflags" "1"
	"classname" "logic_relay"
}

;----- Survivor Versus Spawn positions
{
	"origin" "506 -6492 -279"
	"targetname" "bill_position"
	"GameMode" "versus"
	"angles" "0 165 0"
	"classname" "info_survivor_position"
}
{
	"origin" "504 -6452 -279"
	"targetname" "zoey_position"
	"GameMode" "versus"
	"angles" "0 190 0"
	"classname" "info_survivor_position"
}
{
	"origin" "294 -6528 -279"
	"targetname" "francis_position"
	"GameMode" "versus"
	"angles" "0 55 0"
	"classname" "info_survivor_position"
}
{
	"origin" "286 -6474 -279"
	"targetname" "louis_position"
	"GameMode" "versus"
	"angles" "0 15.5 0"
	"classname" "info_survivor_position"
}
{
	"classname" "weapon_ammo_spawn"
    "origin" "-2595 -1690 86"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 41.5 0"
}
{
	"classname" "weapon_ammo_spawn"
    "origin" "1750 3260 896"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 3.5 0"
}
{
	"classname" "weapon_ammo_spawn"
    "origin" "4954 4811 871"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 237 0"
}
modify:
{
	match:
	{
		"hammerid" "5239857"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
modify:
{
	match:
	{
		"hammerid" "5239855"
	}
	replace:
	{
		"weapon_selection" "tier1_smg"
	}
}
modify:
{
	match:
	{
		"angles" "1.23212 210.003 1.86601"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
modify:
{
	match:
	{
		"targetname" "generator_button"
	}
	replace:
	{
		"use_time" "2"
	}
}
filter:
{
	"classname" "weapon_first_aid_kit_spawn"
}
