modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item2" "0"
	}
}
filter:
{
	"classname" "weapon_first_aid_kit_spawn"
}
add:
{
	"classname" "weapon_spawn"
	"origin" "-631 -18 52"
	"angles" "0 55.5 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-659 -16 52"
	"angles" "0 87 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
modify:
{
	match:
	{
		"hammerid" "989650"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
add:
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "-1150 3752 801"
	"spawnflags" "0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "-2322 2874 728"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 165 0"
}
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 135.5 0"
	"origin" "-7638 5251 376"
	"spawnflags" "0"
}
{
	"classname" "weapon_spawn"
	"origin" "-7392 5185 344"
	"angles" "0 40 90"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 171 0"
	"origin" "-10935 4262 370"
	"spawnflags" "0"
}
modify:
{
	match:
	{
		"hammerid" "1024506"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
{
	match:
	{
		"hammerid" "1024508"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "-10801 4318 511"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 114.5 0"
}

filter:
; --- map witch spawner(use this will not show witch percent)
{
	"targetname" "witch_spawner_vs"
}
{
	"targetname" "random_tank_vs"
}
; --- reduce forward distance by deleting prop_dynamic
; --- first floor at entrance
{
	"hammerid" "1186641"
}
{
	"hammerid" "265060"
}
{
	"hammerid" "264910"
}
; --- second floor by the medicalcabinet
{
	"hammerid" "1184732"
}
{
	"hammerid" "352075"
}
{
	"hammerid" "352063"
}
{
	"hammerid" "352715"
}
{
	"hammerid" "352782"
}
{
	"angles" "0 2.00001 0"
}
; --- remove pill spawns
{
	"hammerid" "989636"
}
{
	"hammerid" "989644"
}
{
	"hammerid" "989877"
}
{
	"hammerid" "990012"
}
{
	"hammerid" "990014"
}
{
	"hammerid" "990102"
}
{
	"hammerid" "990310"
}
{
	"hammerid" "990346"
}
{
	"hammerid" "990368"
}
{
	"hammerid" "990452"
}
{
	"hammerid" "990963"
}
{
	"hammerid" "990975"
}
{
	"hammerid" "990977"
}
{
	"hammerid" "991083"
}
{
	"hammerid" "991085"
}
{
	"hammerid" "992756"
}
{
	"hammerid" "992772"
}
{
	"hammerid" "992854"
}
{
	"hammerid" "993253"
}
{
	"hammerid" "1008845"
}

; --- number of pill not delete
; --- 4(kitchen) 9(ambulance) 12(room by the entrance) 19(top stairs toilet)
