modify:
; --- saferoom guns abcd
{
	match:
	{
		"hammerid" "2573"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
{
	match:
	{
		"hammerid" "2571"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
add:
; --- added ammo first at first hosue entrence
{
	"classname" "weapon_ammo_spawn"
	"origin" "1813 1101 -203"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 231 0"
}
; --- based floor
{
	"classname" "weapon_ammo_spawn"
	"origin" "3463 2677 -346"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 321 0"
}
; --- kitchen
{
	"classname" "weapon_ammo_spawn"
	"origin" "3511 2403 -180"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 356.5 0"
}
; --- by the gun on the ground
{
	"classname" "weapon_ammo_spawn"
	"origin" "2346 4184 -272"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 14 0"
}
; --- guns setting by the police car
modify:
{
	match:
	{
		"hammerid" "7772"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
{
	match:
	{
		"hammerid" "7770"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
; --- ammo at garage
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "6464 5210 -270"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 321 0"
}
; --- by the ladder
{
	"classname" "weapon_ammo_spawn"
	"origin" "6128 2702 -246"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 345.5 0"
}
; --- pill and ammo spawn at generator room
{
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "7502 3091 -99"
	"spawnflags" "0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "7325 3053 -106"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 30 0"
}
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item1" "0"
		"item2" "0"
	}
}
; --- removed some pill spawns
filter:
{
	"hammerid" "5331"
}
{
	"hammerid" "5333"
}
{
	"hammerid" "7760"
}
{
	"hammerid" "7762"
}
{
	"hammerid" "7764"
}
{
	"hammerid" "9558"
}
{
	"hammerid" "9560"
}
{
	"hammerid" "9590"
}
{
	"hammerid" "9592"
}
{
	"hammerid" "49227"
}
{
	"hammerid" "114660"
}
{
	"hammerid" "114849"
}
{
	"hammerid" "114851"
}
{
	"hammerid" "201450"
}
{
	"hammerid" "201694"
}
{
	"hammerid" "201696"
}
{
	"hammerid" "201908"
}
{
	"hammerid" "201918"
}
{
	"hammerid" "201926"
}
{
	"hammerid" "727704"
}
{
	"hammerid" "727708"
}
{
	"hammerid" "935921"
}
{
	"hammerid" "935923"
}
{
	"hammerid" "201413"
}
{
	"hammerid" "1075013"
}
{
	"hammerid" "1075017"
}
{
	"classname" "weapon_first_aid_kit_spawn"
}
; --- burning dmg at ending corridor
{
	"targetname" "igniter_hurt_backup"
}
