add:
{
	"classname" "weapon_spawn"
	"origin" "-5243 -9566 53"
	"angles" "0 197.5 90"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "-4307 -8486 202"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 329 0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "-2104 -6352 423"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 54 0"
}
{ 
	"classname" "weapon_pain_pills_spawn"
	"angles" "0 0 0"
	"origin" "3038 -3082 150"
	"spawnflags" "0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "2818 -3008 183"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 180 0"
}
{
	"classname" "weapon_spawn"
	"origin" "1441 719 424"
	"angles" "0 324 90"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "1480 739 424"
    "spawnflags" "0"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 156.5 0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "4576 3828 414"
    "spawnflags" "0"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 221 0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "3852 2470 4752"
    "spawnflags" "0"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 0"
}
{
	"classname" "weapon_spawn"
	"origin" "3869 2512 4754"
	"angles" "0 115 90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "3799 2507 4754"
	"angles" "0 26.5 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
filter:
{
	"hammerid" "746650"
}
{
	"hammerid" "746656"
}
{
	"hammerid" "477911"
}
{
	"hammerid" "477915"
}
{
	"hammerid" "470928"
}
{
	"hammerid" "471675"
}
{
	"hammerid" "477821"
}
{
	"hammerid" "514747"
}
{
	"hammerid" "659552"
}
{
	"classname" "weapon_first_aid_kit_spawn"
}
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item1" "0"
		"item2" "0"
	}
}
{
	match:
	{
		"hammerid" "440570"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
; --- elev event
{
	match:
	{
		"targetname" "tower_elevator_call_relay"
	}
	delete:
	{
		"OnTrigger" "tower_minifinale_queryHowAngry11"
	}
	insert:
	{
		"OnTrigger" "director,ScriptedPanicEvent,m4_minifinale_3,5,-1"
	}
}
{
	match:
	{
		"targetname" "tower_elevator_up_relay"
	}
	delete:
	{
		"OnTrigger" "tower_elevator_queryHowAngry0-1"
	}
	insert:
	{
		"OnTrigger" "tower_elevator_case2_relay,Trigger,,0,-1"
	}
}
