filter:
{
	"classname" "weapon_first_aid_kit_spawn"
}
; --- pill spawn too far away from right path
filter:
{
	"hammerid" "534740"
}
add:
{
	"classname" "weapon_ammo_spawn"
    "origin" "-47 3921 48"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 41.5 0"
}
{
	"classname" "weapon_ammo_spawn"
    "origin" "3077 7110	480"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 0"
}
modify:
{
	match:
	{
		"hammerid" "534924"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
modify:
{
	match:
	{
		"hammerid" "534966"
	}
	replace:
	{
		"weapon_selection" "any_shotgun"
	}
}
add:
{
	"classname" "weapon_ammo_spawn"
    "origin" "3092 8775	-423"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 0"
}
modify:
{
	match:
	{
		"hammerid" "535265"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
modify:
{
	match:
	{
		"hammerid" "535267"
	}
	replace:
	{
		"weapon_selection" "any_shotgun"
	}
}
add:
{
	"classname" "weapon_ammo_spawn"
    "origin" "3833 9393	-320"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 0"
}
{
	"classname" "weapon_ammo_spawn"
    "origin" "4531 9323	-608"
    "spawnflags" "2"
    "solid" "6"
    "model" "models/props/terror/ammo_stack.mdl"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 0 0"
}
modify:
{
	match:
	{
		"hammerid" "535539"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
modify:
{
	match:
	{
		"hammerid" "535501"
	}
	replace:
	{
		"weapon_selection" "any_shotgun"
	}
}
