# Installed as /etc/l4d2-maintain.conf. Keep server-private values out of Git.
SERVICE_USER=l4d2
TMUX_USER=ecs-user
TMUX_SESSION=l4d2-test
SERVICE_NAME=l4d2.service

SERVER_ROOT=/home/l4d2/server
GAME_DIR=/home/l4d2/server/left4dead2
INTEGRATION_DIR=/home/l4d2/integration
RELEASES_DIR=/home/l4d2/releases
OVERLAY_DIR=/home/l4d2/overlay
CONTENT_DIR=/home/l4d2/content/addons
RETIRING_DIR=/home/l4d2/retiring
BACKUP_DIR=/home/l4d2/backups
UPLOAD_DIR=/home/ecs-user/l4d2-addons
STATE_DIR=/var/lib/l4d2-maintain
RUNTIME_DIR=/run/l4d2

GIT_REMOTE=origin
GIT_BRANCH=main
MANAGED_DIRS="addons cfg scripts extensions"
MISSIONCYCLE_PATH=addons/sourcemod/configs/missioncycle.txt
MANAGED_CAMPAIGN_SECTION=第三方战役

PORT=27015
START_MAP=c1m1_hotel
TICKRATE=100
MAX_UPTIME_HOURS=36
MIN_UPLOAD_AGE_SECONDS=30
MIN_FREE_GIB=5
NORMAL_SERVER_PASSWORD=

STEAM_APP_ID=222860
STEAMCMD_PATH=/usr/games/steamcmd
STEAM_CHECK_INTERVAL_HOURS=6
STEAM_UPDATE_ENABLED=1
